<div class="container p-4 text-center">

    <h2 class="p-4">Inviertiendo pesos en un loop de dolares</h2>


    <div class="row">

        <div class="col-md-3 text-center">
            <input type="number">
            <div class="row">
                <div class="col-12 text-secondary text-center">Inversión USD</div>
            </div>
        </div>

        <div class="col-md-3 text-center">
            <input type="number">
            <div class="row">
                <div class="col-12 text-secondary text-center">Inversión ARS</div>
            </div>
        </div>

        <div class="col-md-3 text-center">
            <input type="number">
            <div class="row">
                <div class="col-12 text-secondary text-center">Cotización ARS</div>
            </div>
        </div>

        <div class="col-md-3 text-center">
            <input type="number">
            <div class="row">
                <div class="col-12 text-secondary text-center">Impuestos (65%)</div>
            </div>
        </div>

    </div>
    <div class="container-fluid p-4">
        <div class="row">
            <div class="col-md-8 p-4">
                <div class="card text-center">
                    <div class="card-header bg-principal">
                        Total ganancia con rulo
                    </div>
                    <div class="card-body">
                        500 ARS
                    </div>
                </div>
            </div>

            <div class="col-md-4 p-4">
                <div class="card text-center">
                    <div class="card-header bg-principal">
                        Total ganancia con Plazo Fijo
                    </div>
                    <div class="card-body">
                        500 ARS
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>