<div class="container p-4 text-center">

    <h2 class="p-4">Inviertiendo pesos en un loop de dolares</h2>


    <div class="row">
 
        

        <div class="col-md-4 text-center">
            <input type="number" [(ngModel)]="inversionArs" width="100%">
            <div class="row">
                <div class="col-12 text-secondary text-center">Inversión ARS</div>
            </div>
        </div>

        

        <div class="col-md-4 text-center">
            <div class=" border border-dark rounded p-1">{{cotizacionOficial}}</div>
            <div class="row">
                <div class="col-12 text-secondary text-center">Cotización Dolar Oficial</div>
            </div>
        </div>

        <div class="col-md-4 text-center">
            <div class=" border border-dark rounded p-1">{{impuestos}} %</div>
            <div class="row">
                <div class="col-12 text-secondary text-center">Impuestos</div>
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col-md-4 text-center">                      
            <div class=" border border-dark rounded p-1">
                {{(inversionArs / (inversionArs * cotizacionOficial + (((inversionArs * cotizacionOficial) * impuestos)/100) )   )).toFixed(2)}}
            </div>
            <div class="row">
                <div class="col-12 text-secondary text-center">USD comprados con ese monto</div>-
            </div>
        </div>

        <div class="col-md-4 text-center">
            <div class=" border border-dark rounded p-1">{{cotizacionBlue}}</div>
            <div class="row">
                <div class="col-12 text-secondary text-center">Cotización Dolar Blue</div>
            </div>
        </div>


        <div class="col-md-4 text-center">
            <div class=" border border-dark rounded p-1">
                {{(cotizacionBlue * inversionArs).toFixed(2)}}
            </div>
            <div class="row">
                <div class="col-12 text-secondary text-center">Capital despues de la venta</div>
            </div>
        </div>
    </div>

    <div class="container-fluid p-4">
        <div class="row">
            <div class="col-md-12 p-4">
                <div class="card text-center">
                    <div class="card-header bg-principal">
                       Con un <em>dolar blue</em> cotizado en {{cotizacionBlue}} ARS, la ganancia será de:
                    </div>
                    <div class="card-body">
                        {{ ((inversionArs * cotizacionBlue) - ((inversionArs * cotizacionOficial) + (((inversionArs * cotizacionOficial) * impuestos)/100) )  ).toFixed(2) }} ARS
                    </div>
                </div>
            </div>

            

        </div>
    </div>

</div>