<div class="container p-4 text-center">

    <h2>Inviertiendo pesos en un plazo fijo</h2>

    <div class="row">

        

        <div class="col-md-4 text-center">
            <input type="number" [(ngModel)]="inversionArs">
            <div class="row">
                <div class="col-12 text-secondary text-center">Inversión ARS</div>
            </div>
        </div>

        <div class="col-md-4 text-center">
            <input type="number" [(ngModel)]="tasaArs">
            <div class="row">
                <div class="col-12 text-secondary text-center">Taza de interés anual ARS</div>
            </div>
        </div>

        <div class="col-md-4 text-center">
            <div class="row">
                <div class="col-12 text-secondary text-center">El plazo por defecto será de 30 días</div>
            </div>
        </div>

       

    </div>

    <div class="container-fluid p-4">
        <div class="row">
            <div class="col-md-4 p-4">
                <div class="card text-center">
                    <div class="card-header bg-principal">
                        Ganancia mensual en ARS con PF en ARS
                    </div>
                    <div class="card-body">
                        {{
                            ((inversionArs*(tasaArs/12))/100).toFixed(2)
                        }} ARS
                    </div>
                </div>
            </div>

            

            <div class="col-md-4 p-4">
                <div class="card text-center">
                    <div class="card-header bg-principal">
                        Comparación ganancia con Dollar Loop invirtiendo el mismo capital
                    </div>
                    <div class="card-body">
                        500 ARS
                    </div>
                </div>
            </div>

        </div>
    </div>


</div>