<div class="container p-4 text-center">
    <h2>Cotizaciones</h2>
    <div class="row">
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-header">Dolar <em>Oficial</em></div>
                <div class="card-body">
                    <div class="display-4" id="oficial"></div>pesos argentinos
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-header">Dolar <em>Solidario</em></div>
                <div class="card-body">
                    <div class="display-4" id="solidario"></div>pesos argentinos
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-header">Dolar <em>MEP</em></div>
                <div class="card-body">
                    <div class="display-4" id="mep"></div>pesos argentinos
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-header">Dolar <em>Blue</em></div>
                <div class="card-body">
                    <div class="display-4" id="blue"></div>pesos argentinos
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="card p-4">
        <div id="datos">

        </div>

        
    </div>
</div>

