<div class="container p-4 text-center">
    <h2>Cotizaciones</h2>
    <div class="row">
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-header">Oficial compra</div>
                <div class="card-body">
                    <div class="display-4">100</div>pesos argentinos
                </div>
            </div>
        </div>
        
        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-header">Oficial venta</div>
                <div class="card-body">
                    <div class="display-4">100</div>pesos argentinos
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-header">Blue compra</div>
                <div class="card-body">
                    <div class="display-4">100</div>pesos argentinos
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card text-center">
                <div class="card-header">Blue venta</div>
                <div class="card-body">
                    <div class="display-4">100</div>pesos argentinos
                </div>
            </div>
        </div>
    </div>
</div>
