<div class="container p-4 text-center">
    <h2 class="text-light p-4">Cotizaciones</h2>
    <div class="row">
        <div class="col-md-3 pb-4 pb-4"> 
            <div class="card text-center" data-toggle="modal" data-target="#modal1">
                <div class="card-header">Dolar <em>Oficial</em></div>
                <div class="card-body">
                    <div class="display-4" id="oficial"></div>
                    <div class="text-info text-uppercase"><small>pesos argentinos</small></div>
                </div>
            </div>
        </div>

        <div class="col-md-3 pb-4">
            <div class="card text-center" data-toggle="modal" data-target="#modal2">
                <div class="card-header">Dolar <em>Solidario</em></div>
                <div class="card-body">
                    <div class="display-4" id="solidario"></div>
                    <div class="text-info text-uppercase"><small>pesos argentinos</small></div>
                </div>
            </div>
        </div>

        <div class="col-md-3 pb-4">
            <div class="card text-center" data-toggle="modal" data-target="#modal3">
                <div class="card-header">Dolar <em>MEP</em></div>
                <div class="card-body">
                    <div class="display-4" id="mep"></div>
                    <div class="text-info text-uppercase"><small>pesos argentinos</small></div>
                </div>
            </div>
        </div>

        <div class="col-md-3 pb-4">
            <div class="card text-center" data-toggle="modal" data-target="#modal4">
                <div class="card-header">Dolar <em>Blue</em></div>
                <div class="card-body">
                    <div class="display-4" id="blue"></div>
                    <div class="text-info text-uppercase"><small>pesos argentinos</small></div>
                </div>
            </div>
        </div>
    </div>
</div>


  
  <!-- Modal -->
  <div class="modal fade" id="modal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Dolar Oficial</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            Es el valor del dólar que se liquida por parte del gobierno nacional.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary float-none" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>


  <div class="modal fade" id="modal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Dolar Solidario</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            Se trata del valor del dolar oficial al que se le suma un cargo de 35% impuesto por el gobierno a todas las 
            operaciones gravadas por el impuesto PAIS, aplicado a la compra de moneda extranjera por 
            canales oficiales, al pago de tarjetas de crédito en moneda extranjera y a la compra de 
            pasajes aéreos, entre otros.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary float-none" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="modal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Dolar MEP</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          El dólar MEP o Dólar Bolsa es aquel tipo de cambio resultante de una operación muy sencilla que consiste en la compra de bonos en pesos y su posterior venta en dólares.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary float-none" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="modal4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Dolar Blue</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            Es el valor del dólar que se paga en el mercado paralelo.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary float-none" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
